.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 3px;
  }
  
  /* Crea 3 columnas*/
  .column {
    flex: 32%;
    max-width: 32%;
    padding: 0 3px;
  }
  
  .column img {
    margin-top: 10px;
    vertical-align: middle;
    width: 100%;
  }

  .container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container2:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
  
  /* Responsive layout - Muestra 2 columnas en vez de 3 */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - Hace que se apilen en vez de que se coloquen al lado */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
  